In [ ]:
introduction to list datatypes

In [ ]:
defination : A list is a collection of items in a particular order.

classification : it is classified as a multiple datatype.

how do you declare a list. ---------> [] ======> square brackets.

In [1]:
students = ['naveen','kranthi','hameed','john','farheen','swetha']

In [2]:
print(students)

['naveen', 'kranthi', 'hameed', 'john', 'farheen', 'swetha']

In [3]:
type(students)

list

In [4]:
print(students)

['naveen', 'kranthi', 'hameed', 'john', 'farheen', 'swetha']

In [ ]:
#req : how to access the element from the list.....?

In [ ]:
indexing : 0,1,2,3,4,.....

In [ ]:
# assigning a particular number for the list element.

In [5]:
print(students[1])

kranthi

In [6]:
print(students[3])

john

In [7]:
print(students[3].title())

John

In [ ]:
1. how to add new elements to the list.
2. how to modify the elements in the list.
3. how to delete the element in the list.

In [8]:
print(students)

['naveen', 'kranthi', 'hameed', 'john', 'farheen', 'swetha']

In [ ]:
# req : i want to add rafi to the above students list.....?

In [9]:
students.append('rafi')

In [10]:
print(students)

['naveen', 'kranthi', 'hameed', 'john', 'farheen', 'swetha', 'rafi']

In [ ]:
# req : iwant to add sudha to the above students list.....?

In [11]:
students.append('sudha')

In [12]:
print(students)

['naveen', 'kranthi', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'sudha']

In [ ]:
# req : i want to add kiran in 2nd index....?

In [13]:
students.insert(2,'kiran')

In [14]:
print(students)

['naveen', 'kranthi', 'kiran', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'sudha']

In [15]:
print(students[2])

kiran

In [ ]:
interview questions : what is the diff btw append and insert in a list? can you explain?

In [ ]:
how to modify the elements in a list?

In [16]:
print(students)

['naveen', 'kranthi', 'kiran', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'sudha']

In [ ]:
# req : i want to modify the naveen name to namitha?

In [18]:
students[0] = 'namitha'

In [19]:
print(students)

['namitha', 'kranthi', 'kiran', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'sudha']

In [ ]:
3. how to delete the element in a list...?

In [20]:
print(students)

['namitha', 'kranthi', 'kiran', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'sudha']

In [ ]:
# req : i want to delete kiran name in the list....?

In [21]:
del students[2]

In [22]:
print(students)

['namitha', 'kranthi', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'sudha']