In [ ]:
organizing the list data type:

In [1]:
cars = ['kia','benz','audi','bmw','suzuki','maruthi']

In [2]:
print(cars)

['kia', 'benz', 'audi', 'bmw', 'suzuki', 'maruthi']

In [3]:
type(cars)

list

In [ ]:
# req : i want to organize the above cars list in a alphabetical order -----A to Z order

In [ ]:
2 possible approaches :

     1. temp approach -----> we can able to maintain the original of the list. =========> sorted
    
     2. per approach------> changes are fixedd, can't go back to the original order.

In [4]:
# temp approach. -----> 1.

print(sorted(cars))

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [5]:
print(cars) # this is the original order.

['kia', 'benz', 'audi', 'bmw', 'suzuki', 'maruthi']

In [ ]:
benz, bmw ======> e , m

In [ ]:
# permanent approach :

In [6]:
cars.sort()

In [7]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [8]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [ ]:
# req : how to print the list in a reverse order....?

In [9]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [10]:
cars.reverse()

In [11]:
print(cars)

['suzuki', 'maruthi', 'kia', 'bmw', 'benz', 'audi']

In [12]:
print(cars)

['suzuki', 'maruthi', 'kia', 'bmw', 'benz', 'audi']

In [13]:
print(cars)

['suzuki', 'maruthi', 'kia', 'bmw', 'benz', 'audi']

In [ ]:
# to count the number of elements in the list....?

In [14]:
len(cars)

6

In [ ]:
slicing of lists:

In [15]:
students = ['suvedita','farheen','kumar','imran','surya','hameed']

In [16]:
print(students)

['suvedita', 'farheen', 'kumar', 'imran', 'surya', 'hameed']

In [ ]:
General syntax of slicing :

In [ ]:
startvalue:stopvalue:stepcount =====> indexing.

In [ ]:
Note : Last value or stopvalue is always exclucive, that means it will be included in part of the slice.

In [ ]:
# req : i want ti include suvedita and farheen in the same slice.

In [17]:
print(students[0:1])

['suvedita']

In [18]:
print(students[0:2])

['suvedita', 'farheen']

In [ ]:
# req : i want to include kumar and imran in the same slice.

In [19]:
print(students)

['suvedita', 'farheen', 'kumar', 'imran', 'surya', 'hameed']

In [20]:
print(students[2:4])

['kumar', 'imran']

In [ ]:
# req : i want to include surya and Hameed in the same slice.

In [21]:
print(students[4:6])

['surya', 'hameed']

In [22]:
print(students[0:6:2])

['suvedita', 'kumar', 'surya']

In [23]:
print(students)

['suvedita', 'farheen', 'kumar', 'imran', 'surya', 'hameed']